/*
 * CSS Variables
**/
:root {
    --max-page-width: 1280px;
    --page-edge-padding: 40px;

    --box-spacing: 20px;
    --box-horizontal-padding: 1.5em;
    --box-vertical-padding: 1em;
    --box-post-margin-bottom: 2em;

    --desktop-left-column-width: 25%;
    --desktop-right-column-width: 20%;

    /* Colours */
    --box-title-grey: #595959;
    --box-link-orange: #f9690e;

    --search-input-color: #c5c5c5;

    --milestone-color: #65676b;
    --post-author-color: #65676b;

    --status-grey: #9c969c;
    --status-red: #ec6580;
}

/* 
 * Header
**/
.page-header {
    background: white;
    padding: 0 var(--box-horizontal-padding);
}
.header-wrapper {
    max-width: var(--max-page-width);
    padding: var(--box-horizontal-padding) 0;

    display: flex;
    align-items: center;

    margin: 0 auto;
}
.header-wrapper > nav {
    display: flex;
    flex: 1;
    justify-content: center;
}
.header-wrapper > nav > * {
    margin: 1em;
    font-size: 18px;
    color: var(--milestone-color);
}

.user-profile-container {
    display: flex;
    align-items: center;
}
.user-profile {
    display: flex;
    white-space: nowrap;
    align-items: center;
}
.user-profile img {
    margin-right: 5px;
}
.notification-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid var(--search-input-color);
    line-height: 1;
    width: 2em;
    height: 2em;
    margin-right: 1em;
    transition: background-color 0.5s;
}
.notification-button:hover {
    background: var(--search-input-color);
}

/*
 * Page Content
**/
.page-content {
    padding: var(--page-edge-padding) 0;
}
.content-wrapper {
    max-width: var(--max-page-width);
    position: relative;

    margin: 0 auto;
}

.content-box {
    background: white;
    margin-bottom: var(--box-spacing);
    padding: var(--box-vertical-padding) var(--box-horizontal-padding);
}
.content-box .title {
    margin-bottom: var(--box-vertical-padding);
    color: var(--box-title-grey);
}
.content-box .box-link {
    color: var(--box-link-orange);
}

/*
 * Search Form
**/
.search-box {
    display: flex;
}
.search-input {
    margin-left: var(--box-vertical-padding);
    padding: 0.5em 3.5em 0.5em 1.5em;
    border: 1px solid var(--search-input-color);
    border-radius: 3px;
    position: relative;
    background-image: url(/images/Add\ Image.svg);
    background-size: 1.5em;
    background-position: calc(100% - 1.5em) center;
    background-repeat: no-repeat;
}

/*
 * Feed Post
**/
.feed-post {
    padding: 0;
}
.feed-post header {
    display: flex;
    align-items: center;
}
.post-author-date {
    flex: 1;
    margin-left: 10px;
}
.feed-post .post-date {
    color: var(--post-author-color);
    line-height: 1;
}
.feed-post > * {
    padding: var(--box-vertical-padding) var(--box-horizontal-padding);
}
.feed-post .post-image {
    width: 100%;
    padding: 0;
}
.feed-post footer {
    display: flex;
    padding-top: 0;
}
.feed-post footer .post-button {
    margin-right: 0.5em;
}
.post-button {
    flex: 0 1;
    display: flex;
    border: 1px solid var(--search-input-color);
    padding: 0.5em 10px;
    border-radius: 3px;
    white-space: nowrap;

    transition: background-color 0.5s;
    color: var(--post-author-color);
}
.post-button:hover {
    background: var(--search-input-color);
}

/*
 * Milestones
**/
.milestone {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--box-post-margin-bottom);
    color: var(--milestone-color);
}
.milestone > img {
    margin-right: 10px;
}

/*
 * Trending Posts
**/
.trending-post {
    margin-bottom: var(--box-post-margin-bottom);
}
.trending-post .author-date-box {
    color: var(--post-author-color);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/*
 * Live stream box
**/
.live-stream-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 256px;
    position: relative;
    padding: calc(var(--box-horizontal-padding) / 2);

    background-position: center;
    background-size: cover;

    overflow: hidden;

    color: white;
}
.live-stream-box::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent 20%, black);
    content: " ";
}
.live-stream-title {
    z-index: 1;
    max-width: 250px;
    padding: calc(var(--box-horizontal-padding) / 2)
        calc(var(--box-horizontal-padding) / 2);
}
.status-wrapper {
    display: flex;
}
.status-box {
    padding: 0.5em 12px;
    margin-right: 10px;
    border-radius: 5px;

    font-size: 0.75em;
    line-height: 1;

    background: var(--status-grey);
    color: white;
}
.live-status {
    background: var(--status-red);
}

/*
 * Tablet + Desktop
**/
@media (min-width: 768px) {
    .page-header {
        padding: 0 var(--page-edge-padding);
    }
    .page-content {
        padding: var(--page-edge-padding);
    }

    .milestone-trending-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .milestone-trending-container > * {
        width: calc(50% - (var(--box-spacing) / 2));
    }

    .content-box {
        border-radius: 5px;
    }
}

/*
 * Desktop Only
**/
@media (min-width: 1024px) {
    .content-wrapper {
        display: flex;
    }
    .content-wrapper > aside {
        width: var(--desktop-right-column-width);

        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .milestone-trending-container > * {
        width: 100%;
    }
    .feed-container {
        flex: 1;

        margin-left: var(--desktop-left-column-width);
        padding: 0 var(--box-vertical-padding);
    }

    .milestones-container {
        width: var(--desktop-left-column-width);

        position: absolute;
        top: 0;
        left: 0;
    }
}
