/*
 * CSS Variables
**/
:root {
    --max-page-width: 1280px;
    --page-edge-padding: 40px;

    --box-spacing: 20px;
    --box-horizontal-padding: 1.5em;
    --box-vertical-padding: 1em;

    --desktop-left-column-width: 25%;
    --desktop-right-column-width: 20%;

    /* Colours */
    --status-grey: #9c969c;
    --status-red: #ec6580;
}

/* 
 * Header
**/
.page-header {
    background: white;
    padding: 0 var(--box-horizontal-padding);
}
.header-wrapper {
    max-width: var(--max-page-width);

    display: flex;
    align-items: center;

    margin: 0 auto;
}
.header-wrapper > nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

/*
 * Page Content
**/
.page-content {
    padding: var(--page-edge-padding) 0;
}
.content-wrapper {
    max-width: var(--max-page-width);
    position: relative;

    margin: 0 auto;
}

.content-box {
    background: white;
    margin-bottom: var(--box-spacing);
    padding: var(--box-vertical-padding) var(--box-horizontal-padding);
}

/*
 * Live stream box
**/
.live-stream-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 256px;
    position: relative;
    padding: calc(var(--box-horizontal-padding) / 2);

    background-position: center;
    background-size: cover;

    overflow: hidden;

    color: white;
}
.live-stream-box::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent 20%, black);
    content: " ";
}
.status-wrapper {
    display: flex;
}
.status-box {
    padding: 0.5em 12px;
    margin-right: 10px;
    border-radius: 5px;

    font-size: 0.75em;
    line-height: 1;

    background: var(--status-grey);
    color: white;
}
.live-status {
    background: var(--status-red);
}
.live-stream-title {
    z-index: 1;
    max-width: 250px;
    padding: calc(var(--box-horizontal-padding) / 2)
        calc(var(--box-horizontal-padding) / 2);
    font-weight: bold;
}

/*
 * Tablet + Desktop
**/
@media (min-width: 768px) {
    .page-header {
        padding: 0 var(--page-edge-padding);
    }
    .page-content {
        padding: var(--page-edge-padding);
    }

    .milestone-trending-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .milestone-trending-container > * {
        width: calc(50% - (var(--box-spacing) / 2));
    }

    .content-box {
        border-radius: 5px;
    }
}

/*
 * Desktop Only
**/
@media (min-width: 1024px) {
    .content-wrapper {
        display: flex;
    }
    .content-wrapper > aside {
        width: var(--desktop-right-column-width);

        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .milestone-trending-container > * {
        width: 100%;
    }
    .feed-container {
        flex: 1;

        margin-left: var(--desktop-left-column-width);
        padding: 0 var(--box-vertical-padding);
    }

    .milestone-box {
        width: var(--desktop-left-column-width);

        position: absolute;
        top: 0;
        left: 0;
    }
}
